header {
    padding: 25px;
    background-color: #33ffff;
}
body {
    margin: 4px;
    background-color: #ff6633;
}
section {
    border: 5px solid #33ffff;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

footer {
    background-color: #33ffff;
}

.button {
    background-color: #ff6633;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    margin-left: 5px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}

#logo, #headtitle {
    float: left;
    display:inline;

}

