body {
    margin: 4px;
    background-color: #ff6633;
}
section {
    border: 5px solid #33ffff;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

footer {
    background-color: #33ffff;
}

